*{box-sizing: border-box;
margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 10px 20px;
        
}

img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}

main{
    background-color: #f6f8f9;
    padding-top: 30px;
    padding-bottom: 10px;
}

/* sistemare raggio */
#contenitore{
    background-color: white;
    border-radius: 16px;
    width: 700px;
    height: 500px;
    margin: auto;
}

/* sistemare colore */
#pulsanti{
    padding: 10px 30px 10px;
    border-bottom: 2px solid #f6f8f9;
}
#tasto-task{
    display: inline-block;
    color: white;
    background-color: #47adf1;
    border-radius: 3px;
    border: 1px solid #47adf1;
    padding: 5px;
    font-size: 0.5em;
}
#tasto-section{
    display: inline-block;
    color: #d3d7db;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid #d3d7db;
    padding: 5px;
    font-size: 0.5em;    
}


/* sistemare checkmark e colore */
#new-task{
    padding-left: 50px;
    padding-top: 25px;
}
.sezioni{
    font-weight: bold;
    margin-bottom: 8px;
}

.contenuto-sezioni{
    font-size: 0.7em;
    margin-bottom: 8px;
}

.editoriale {
    font-size: 0.5em;
    color: white;
    background-color: #47adf1;
    border-radius: 8px;
    border: solid #47adf1;
    padding: 2px;
    margin-bottom: 8px;
    
}
#today{
    padding-left: 50px;
    padding-top: 15px;
}

.goals {
    font-size: 0.5em;
    color: white;
    background-color: #9c72e4;
    border-radius: 8px;
    border: solid #9c72e4 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
.recruiting {
    font-size: 0.5em;
    color: white;
    background-color: #64c0a9;
    border-radius: 8px;
    border: solid #64c0a9 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
.mobile {
    font-size: 0.5em;
    color: white;
    background-color: #f29e33;
    border-radius: 8px;
    border: solid #f29e33 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}

#upcoming{
    padding-left: 50px;
    padding-top: 15px;
}
.website {
    font-size: 0.5em;
    color: white;
    background-color: #d863a1;
    border-radius: 8px;
    border: solid #d863a1 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
.sales {
    font-size: 0.5em;
    color: white;
    background-color: #b0c926;
    border-radius: 8px;
    border: solid #b0c926 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}