*{box-sizing: border-box;
margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 10px 20px;
    
    
}

img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}

main{
    background-color: rgb(227, 215, 215);
    padding-top: 30px;
    padding-bottom: 10px;
}

/* sistemare raggio */
#contenitore{
    background-color: white;
    border-radius: 16px;
    width: 700px;
    height: 500px;
    margin: auto;
}


/* sistemare colore */
#pulsanti{
    padding: 10px 30px 10px;
    border-bottom: 2px solid rgb(227, 215, 215);
}
#tasto-task{
    display: inline-block;
    color: white;
    background-color: rgb(44, 138, 201);
    border-radius: 3px;
    border: 1px solid rgb(44, 138, 201);
    padding: 5px;
    font-size: 0.5em;
}
#tasto-section{
    display: inline-block;
    color: grey;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 0.5em;    
}


/* sistemare checkmark e colore */
#new-task{
    padding-left: 50px;
    padding-top: 25px;
}
.sezioni{
    font-weight: bold;
    margin-bottom: 8px;
}

.contenuto-sezioni{
    font-size: 0.7em;
    margin-bottom: 8px;
}

.editoriale {
    font-size: 0.5em;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: solid blue 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
#today{
    padding-left: 50px;
    padding-top: 15px;
}

.goals {
    font-size: 0.5em;
    color: white;
    background-color: rgb(255, 0, 217);
    border-radius: 8px;
    border: solid rgb(255, 0, 217) 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
.recruiting {
    font-size: 0.5em;
    color: white;
    background-color: rgb(35, 183, 67);
    border-radius: 8px;
    border: solid rgb(35, 183, 67) 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}
.mobile {
    font-size: 0.5em;
    color: white;
    background-color: rgb(255, 196, 0);
    border-radius: 8px;
    border: solid rgb(255, 196, 0) 3px;
    padding: 2px;
    margin-bottom: 8px;
    
}